* {
    font-family: 'Albert Sans', sans-serif;
}

body {
    color: rgb(255, 255, 255);
    background-color: hsl(253, 22%, 25%);

    height: auto;
    width: 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-text {
    margin-bottom: 20px;
}

#omen-gif {
    width: 100%;
    height: auto;
}